.areas{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
  grid-gap: 4%;
  margin-left: 15%
}

.areaButton,
.criteriaButton{
  background-color:rgb(1, 179, 96);
  border-radius: 2rem;
  border-style: none;
  color: rgb(230,230,230);
}

.criteriaButton:active{
  background-color: yellow;
}

.areaButton{
    font-size: 300%;
}

.criteriaButton{
    font-size: 100%;
}

h2{
  text-align: center;
  font-size: 400%;
}

h3{
  text-align: center;
  font-size: 300%;
}

.arrowRight{
  margin-left: 95%;
}

.criterias{
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 150px;
  grid-gap: 4%;
  margin-left: 10%
}

.criterias2{
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 150px 150px;
  grid-gap: 4%;
  margin-left: 10%
}

.checklabel {
  display:block;
  background-color:rgb(1, 179, 96);
  border-radius: 2rem;
  border-style: none;
  color: rgb(230,230,230);
  text-align: center;
  height: 100%;
  font-size: 280%;
}

.checkbox,
.areabox {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	outline:0;
}
