body{
  background-color: #e6e2d3;
}

.pageTop{
  background-color: #c4b7a6;
}

/* Sets the grid for the area and skills pages */
.areas,
.skills{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
  grid-gap: 4%;
  margin-left: 15%
}

/* Sets styling for buttons on area and criteria pages */
.areaButton,
.criteriaButton{
  background-color:rgb(1, 179, 96);
  border-radius: 2rem;
  border-style: none;
  color: rgb(230,230,230);
}

/* Sets font size on areas page */
.areaButton{
    font-size: 300%;
}

a{
  margin-left: 33%;
  font-size: 400%;
}

/* Sets styling for headings on the pages */
h2{
  text-align: center;
  font-size: 400%;
  font-family: aharoni;
  color: #3e4444;
}

/* Sets styling for subheadings on the criteria page */
h3{
  text-align: center;
  font-size: 300%;
  font-family: garamond;
}

/* Sets the return button on the top left of criteris and skills pages */
.return{
  margin-left: 20px;
}

/* Sets the next button on the bottom right of criteria page */
.next{
  margin-left: 80%;
}

/* Sets the grid for the criterias page */
.criterias{
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 170px;
  grid-gap: 4%;
  margin-left: 10%
}

/* Sets styling for buttons on criterias page and results button and skills pages */
.criterias2,
{
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 170px 170px;
  grid-gap: 4%;
  margin-left: 10%
}

/* Sets styling for all the selection buttons */
.checklabel,
.resultslabel {
  display:block;
  background-color:rgb(1, 179, 96);
  border-radius: 2rem;
  border-style: none;
  color: rgb(230,230,230);
  text-align: center;
  height: 100%;
  font-size: 280%;
}

/* Sets background color for results button */
.resultslabel{
  background-color: orange;
  height: 150px;
}

/* Hides the checkbox icon box for all the buttons */
.checkbox,
.areabox,
.resultsbutton{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border:none;
	outline:0;
}

button{
  font-size: 400%;
  padding: 20px;
  width: 100%;
  background-color: orange;
  color: white;
  border-radius: 2rem;
  border-style: none;
}

.parentdiv{
  position:relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px;
}

.result,
.backresult{
  background-color: #c4b7a6;
  color: white;
  border-radius: 2rem;
  border-style: none;
}

.resultText,
.backresulttext{
  color: white;
}

.result{
  position: relative;
  backface-visibility: hidden;
  border-radius: 20px;
}

/* This sets the size, colour and shape of the back of the cards*/
.backresult{
  position: relative;
  backface-visibility: hidden;
  border-radius: 20px;
  transform: rotateY(180deg);
}

.parentdiv.is-flipped{
  transform: translateX(-100%) rotateY(-180deg);
}
